# APIs

In [1]:
import requests
import pandas as pd


url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

querystring = {"q":"dublin","limit":"1"}

headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }

response = requests.get(url, headers=headers, params=querystring)
response.json()

{'searchBy': 'dublin',
 'count': 1,
 'items': [{'icao': 'EIDW',
   'iata': 'DUB',
   'name': 'Dublin ',
   'shortName': 'Dublin',
   'municipalityName': 'Dublin',
   'location': {'lat': 53.4213, 'lon': -6.27007},
   'countryCode': 'IE'}]}

In [2]:
# Normalizing the response
r_json = response.json()
df_json = pd.json_normalize(r_json['items'])
df_json

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,EIDW,DUB,Dublin,Dublin,Dublin,IE,53.4213,-6.27007

In [3]:
icao_from = 'LPPT'
icao_to = 'MRFL'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"

response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'LPPT', 'iata': 'LIS', 'name': 'Lisbon Portela', 'shortName': 'Portela', 'municipalityName': 'Lisbon', 'location': {'lat': 38.7813, 'lon': -9.135919}, 'countryCode': 'PT'}, 'to': {'icao': 'MRFL', 'iata': 'FMG', 'name': 'Brasilito Flamingo', 'shortName': 'Flamingo', 'municipalityName': 'Brasilito', 'location': {'lat': 10.4186, 'lon': -85.7827}, 'countryCode': 'CR'}, 'greatCircleDistance': {'meter': 8138000.5, 'km': 8138.0, 'mile': 5056.72, 'nm': 4394.17, 'feet': 26699476.71}, 'approxFlightTime': '10:05:00'}

In [4]:
pd.json_normalize(response.json())

,approxFlightTime,from.icao,from.iata,from.name,from.shortName,from.municipalityName,from.location.lat,from.location.lon,from.countryCode,to.icao,...,to.shortName,to.municipalityName,to.location.lat,to.location.lon,to.countryCode,greatCircleDistance.meter,greatCircleDistance.km,greatCircleDistance.mile,greatCircleDistance.nm,greatCircleDistance.feet
0,10:05:00,LPPT,LIS,Lisbon Portela,Portela,Lisbon,38.7813,-9.135919,PT,MRFL,...,Flamingo,Brasilito,10.4186,-85.7827,CR,8138000.5,8138.0,5056.72,4394.17,26699476.71

In [5]:
headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }


def get_codes():

    location = input('Insert location:')
    print()

    url = "https://aerodatabox.p.rapidapi.com/airports/search/term"
    querystring = {"q":location.lower(), "limit":"1"}

    response = requests.get(url, headers=headers, params=querystring)
    codes = response.json()['items'] if 'items' in response.json() else location

    return codes


def choose_code():

    codes = get_codes()

    while type(codes) is str or len(set([code['shortName'] for code in codes])) != 1:

        if not codes:
            print('Try another location. Unable to find code for:', codes, '\n')
        else:
            print('More than one location found. Insert one of the following airports:', [code['shortName'] for code in codes], '\n')

        codes = get_codes()

    return codes[0]['icao']


def flight_distance_time(from_, to_):
    url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{from_}/distance-time/{to_}"
    response = requests.get(url, headers=headers)
    return pd.json_normalize(response.json()).T

In [7]:
print('[DEPARTURE]')
from_ = choose_code()
print('[DESTINATION]')
to_ = choose_code()

flight_df = flight_distance_time(from_, to_)
flight_df

[DEPARTURE]
Insert location:paris

[DESTINATION]
Insert location:dallas

                                                 0
approxFlightTime                          09:50:00
from.icao                                     LFPG
from.iata                                      CDG
from.name                  Paris Charles de Gaulle
from.shortName                   Charles de Gaulle
from.municipalityName                        Paris
from.location.lat                          49.0128
from.location.lon                         2.549999
from.countryCode                                FR
to.icao                                       KDAL
to.iata                                        DAL
to.name                          Dallas Love Field
to.shortName                            Love Field
to.municipalityName                         Dallas
to.location.lat                            32.8471
to.location.lon                           -96.8518
to.countryCode                                  US
greatCircleDistance.meter               7954562.39
greatCircleDistance.km                     7954.56
greatCircleDistance.mile                   4942.74
greatCircleDistance.nm                     4295.12
greatCircleDistance.feet               26097645.65

In [12]:
url = "https://billboard-api2.p.rapidapi.com/hot-100"

querystring = {"date":"2023-09-14","range":"1-100"}

headers = {
	"X-RapidAPI-Key": "794b62383emshac3b016b8f5c37ep15772ajsn44b333a3023d",
	"X-RapidAPI-Host": "billboard-api2.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'info': {'category': 'Billboard', 'chart': 'HOT 100', 'date': '2023-09-16', 'source': 'Billboard-API'}, 'content': {'1': {'rank': '1', 'title': 'Paint The Town Red', 'artist': 'Doja Cat', 'weeks at no.1': '1', 'last week': '3', 'peak position': '1', 'weeks on chart': '5', 'detail': 'up'}, '2': {'rank': '2', 'title': 'I Remember Everything', 'artist': 'Zach Bryan Featuring Kacey Musgraves', 'last week': '1', 'peak position': '1', 'weeks on chart': '2', 'detail': 'down'}, '3': {'rank': '3', 'title': 'Fast Car', 'artist': 'Luke Combs', 'last week': '2', 'peak position': '2', 'weeks on chart': '24', 'detail': 'down'}, '4': {'rank': '4', 'title': 'Cruel Summer', 'artist': 'Taylor Swift', 'last week': '5', 'peak position': '3', 'weeks on chart': '18', 'detail': 'up'}, '5': {'rank': '5', 'title': 'Last Night', 'artist': 'Morgan Wallen', 'last week': '4', 'peak position': '1', 'weeks on chart': '32', 'detail': 'down'}, '6': {'rank': '6', 'title': 'Dance The Night', 'artist': 'Dua Lipa', 'last week': '9', 'peak position': '6', 'weeks on chart': '15', 'detail': 'up'}, '7': {'rank': '7', 'title': 'Snooze', 'artist': 'SZA', 'last week': '7', 'peak position': '7', 'weeks on chart': '39', 'detail': 'same'}, '8': {'rank': '8', 'title': 'Fukumean', 'artist': 'Gunna', 'last week': '10', 'peak position': '4', 'weeks on chart': '12', 'detail': 'up'}, '9': {'rank': '9', 'title': 'Vampire', 'artist': 'Olivia Rodrigo', 'last week': '12', 'peak position': '1', 'weeks on chart': '10', 'detail': 'up'}, '10': {'rank': '10', 'title': 'Calm Down', 'artist': 'Rema & Selena Gomez', 'last week': '11', 'peak position': '3', 'weeks on chart': '53', 'detail': 'up'}}, 'notice': 'This plan is only available up to the top 10 in the ranking. For more ranking information, please upgrade your plan.'}

In [20]:
r_json = response.json()
bill_json = pd.json_normalize(r_json['content']).T
for key, value in r_json['info'].items():
    bill_json[key] = value
    
bill_json

,0,category,chart,date,source
1.rank,1,Billboard,HOT 100,2023-09-16,Billboard-API
1.title,Paint The Town Red,Billboard,HOT 100,2023-09-16,Billboard-API
1.artist,Doja Cat,Billboard,HOT 100,2023-09-16,Billboard-API
1.weeks at no.1,1,Billboard,HOT 100,2023-09-16,Billboard-API
1.last week,3,Billboard,HOT 100,2023-09-16,Billboard-API
...,...,...,...,...,...
10.artist,Rema & Selena Gomez,Billboard,HOT 100,2023-09-16,Billboard-API
10.last week,11,Billboard,HOT 100,2023-09-16,Billboard-API
10.peak position,3,Billboard,HOT 100,2023-09-16,Billboard-API
10.weeks on chart,53,Billboard,HOT 100,2023-09-16,Billboard-API
10.detail,up,Billboard,HOT 100,2023-09-16,Billboard-API

In [29]:
url = "https://dad-jokes.p.rapidapi.com/random/joke"

headers = {
	"X-RapidAPI-Key": "794b62383emshac3b016b8f5c37ep15772ajsn44b333a3023d",
	"X-RapidAPI-Host": "dad-jokes.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())

{'success': True, 'body': [{'_id': '60dd35c12413443a5a5f6e09', 'setup': 'Who do you call the underwater seaspy?', 'punchline': 'James Pond', 'type': 'call', 'likes': [], 'author': {'name': 'unknown', 'id': None}, 'approved': True, 'date': 1618108661, 'NSFW': False, 'shareableLink': 'https://dadjokes.io/joke/60dd35c12413443a5a5f6e09'}]}

In [30]:
r_json = response.json()
joke = r_json['body'][0]['setup']
punchline = r_json['body'][0]['punchline']

print('Joke:', joke)
print('Punchline:', punchline)

Joke: Who do you call the underwater seaspy?
Punchline: James Pond